.carousel-control.left {
   
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    }


    .carousel-control.right {
    
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    
}

.col-md-2 img{
height: 100px;
 width: 100px;
}
@media screen and (max-width: 767px){
	.col-md-2 img{
height: 50px;
 width: 50px;
}
}


